!!! 5
html
  head
    title DingDong
    !=css('bootstrap.min')
    script(src='/lib/jquery-1.9.1.min.js')
    script(src='/lib/bootstrap.min.js')
    !=js('script')
    script(src='/lib/connect.facebook.all.js')
    :stylus
      div.shadow
        width: 100%
        height: 1000px
        background-color: black

  body
    div.shadow
      div#firstLoginModal.modal.fade(tabindex='-1', role='dialog')
        div.modal-header
          h3 DingDong
        div.modal-body
          p 本サービスを、どちらの立場で初めますか？
          //- p この度は、Ding-Dongへお越し頂きまことにありがとうございます。
          //- p Ding-Dong（http://apps.facebook.com/ding_dong 、以下「当サービス」といいます）のご利用にあたっては、以下の利用規約をお読み頂き、同意される場合にのみご利用下さい。
          //- p なお、本規約につきましては予告なく変更することがありますので、あらかじめ御了承下さい。
          //- p 当サービスは、真剣に交際相手を探している独身の方が、お友達に応援してもらいながら将来のパートナーと知り合うチャンスを提供するサービスですが、不特定多数の方がご利用になっているために場合によってはサービスを悪用されたり、あるいは適切なコミュニケーションがとれない方が利用されたりする可能性もあります。
          //- p そういった可能性を十分ご認識のうえ、当サービスのご利用に際して他人に対してどのような個人情報を開示するか、どのようなやりとりをするかについては、常に慎重にお考えください。
          //- h3.title_box 第1条【サービス】
          //- p 1. 当サービスでは結婚について真剣に考えている21歳～60歳の独身の方（以下「婚活者」といいます）が、親しいお友達（以下「応援団」といいます）と情報を共有し応援してもらいながらパートナーを探すことができる婚活支援サービスです。
          //- p 2. 当サービスの利用に際しては、利用者は自らの費用と責任に必要な機器・ソフトウェア・通信手段等を用意し適切に接続・操作することとします。
          //- p 3. 当サービスは、Facebook会員向けのサービスです。婚活者および応援団は、あらかじめFacebookに加入およびログインし、プライバシー設定を行なった上でご利用ください。
          //- p 4. 将来、無料・有料を問わず様々なサービスを追加したり、または変更・削除することがあります。
          //- p 5. 運営者は、当サービスが提供及び付随するサービスに対する保証行為を一切しておりません。また、運営者は、当サービスの提供するサービスの不確実性・サービス停止等に起因する利用者への損害について、一切責任を負わないものとします。詳細については、「免責事項」をご覧下さい。
          //- h3.title_box 第2条【利用資格】
          //- p 当サービスを利用できる方は、婚活者と応援団です。婚活者は、Facebookに登録されている22歳~60歳の独身女性及び独身男性でなければ登録できません。応援団は、Facebookで婚活者の友人に登録されている方で22歳以上であれば、既婚の方・結婚を考えていない方でも利用可能です。
          //- h3.title_box 第3条【個人情報の取り扱い】
          //- p 当サービスとの利用に際して利用者から取得した氏名などの個人情報は、Facebookが定める「プライバシーポリシー」に則り取り扱われます。
          //- h3.title_box 第4条【著作権等知的財産権】
          //- p 1．当サービス内のプログラム、ロゴ、画像、その他の知的財産権は運営者に帰属します。運営者に無断で使用（複製、送信、譲渡、二次利用等を含む）することは禁じます。
          //- p 2．Ding-Dongの商標は、運営者に帰属しますので無断で使用することはできません。
          //- h3.title_box 第5条【禁止事項】
          //- p 1．運営者は、利用者が以下の行為を行うことを禁じます。
          //- p 1）21歳未満で、独身でない方が婚活者として当サービスを利用すること
          //- p 2）運営者または第三者に損害を与える行為、または損害を与える恐れのある行為
          //- p 3）運営者または第三者の財産、名誉、プライバシー等を侵害する行為、または侵害する恐れのある行為
          //- p 4）公序良俗に反する行為、またはその恐れのある行為
          //- p 5）他人や他の存在になりすますこと
          //- p 6）虚偽の申告、届出を行う行為
          //- p 7）コンピュータウィルス等有害なプログラムを使用または提供する行為
          //- p 8）迷惑メールやメールマガジン等を一方的に送付する行為
          //- p 9）Facebookの利用規約に反する行為
          //- p 10）法令に違反する行為、またはその恐れがある行為
          //- p 11）その他運営者が不適切と判断する行為
          //- p 2．上記に違反した場合、運営者は利用者に対し損害賠償請求をすることができることに利用者は同意します。
          //- h3.title_box 第6条【免責事項】
          //- p 1．運営者は、当サービスに掲載されている全ての情報を慎重に取り扱いますが、その正確性および完全性などに関して、いかなる保証もするものではありません。
          //- p 2．運営者は、予告なしに当サービスの運営を停止または中止し、また当サービスに掲載されている情報の全部または一部を変更する場合があります。
          //- p 3．利用者が当サービスを利用したこと、または何らかの原因により、これをご利用できなかったことにより生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害について、運営者は何ら責任を負うものではありません。
          //- h3.title_box 第7条【会員間の紛争】
          //- p 当サービスの他の会員との交流について、単独で責任を負うものとします。運営者は、会員間で起きた紛争を監視する義務はありません。
          //- h3.title_box 第8条【Facebookとの連携】
          //- p 運営者は、会員がFacebookのガイドラインに従わなかった結果、Facebook及び当サービスを利用できなくなっても責任を負いません。さらに運営者は、いかなる理由でもFacebookのアカウントを中断、遮断、閉鎖、または終了されたために、当サービスを利用できなくなっても責任を負いません。なお、当サービスの会員サービスの中断または終了は、Facebookのアカウントの状態には影響しません。
          //- h3.title_box 第9条【会員データおよびコンテンツの取扱い】
          //- p 1．会員が投稿などをしたコンテンツについては、会員または当該コンテンツの著作権者に著作権が帰属しますが、会員は運営者に対して、日本の国内外で無償かつ非独占的に利用（複製、上映、公衆送信、展示、頒布、譲渡、貸与、翻訳、翻案、出版を含みます）する権利を期限の定めなく許諾（サブライセンス権を含みます）したものとみなします。その場合、会員は著作者人格権を行使しないものとします。
          //- p 2．運営者は、会員が当社の管理するサーバーに保存しているデータを、婚活研究、サービス向上や保守、新たなサービス展開などに、必要な範囲で複製や利用等することができるものとします。リサーチ情報を公開する場合には、データは全て統計的に処理し、個人が特定されない措置を取ります。
          //- p 3．会員が会員自身のメッセージボックスに、6か月間アクセスされなかった場合にメッセージを削除する場合があります。
          //- h3.title_box 第10条【契約解除】
          //- p 1．運営者は、利用者が本規約に反する行為をした場合、即時にサービスを停止することができます。
          //- p 2．前項の事由が発生したとき、運営者は利用者に損害賠償をすることができます。
          //- h3.title_box 第11条【損害賠償】
          //- p 本規約に違反した場合、運営者に発生した損害を賠償していただきます。
          //- h3.title_box 第12条【準拠法および管轄裁判所】
          //- p 当サービスおよび本規約の解釈・適用については、日本国法に準拠します。万が一裁判所での争いとなったときは、訴額に応じて東京簡易裁判所または東京地方裁判所を第一審の専属管轄裁判所とします。
          //- h3.title_box 第13条【特例】
          //- p 1．本規約に基づき、特別の規定が別途定められている場合があります。
          //- p 2．運営者の各サービスの説明のページに当規約と相反する規定があった場合は、各サービスの説明ページに記載してある規定を適用します。
          //- p （附則）
          //- p 本規約は、2013年4月20日より施行致します。
          //- p 2013年4月20日制定
          //- p 　　年　　月　　日改訂
          //- p 　　年　　月　　日改訂
        div.modal-footer
          button.btn.btn-primary.player 婚活者として参加する
          button.btn.btn-success.supporter 応援団として参加する
          button.btn.cancel Facebookに戻る

  :coffeescript
    $ ->
      options =
        backdrop: false
        keyboard: false
      $("button.player").click (e)->
        location.href = "/signup"
      $("button.supporter").click (e)->
        # 次はここ。ログインして、この時点でユーザを作ってしまうというのはアリかも。サポーターとしては。
        console.log e
      $("button.cancel").click (e)->
        location.href = "https://facebook.com"
      $("div#firstLoginModal").modal(options)