!!! 5
html
  head
    title DingDong
    !=css('style')
    !=css('basic')
    !=css('matching')
    !=css('like')
    !=css('talk')
    !=css('message')
    !=css('candidate')
    !=css('supportinguser')
    !=css('bootstrap.limit.min')
    script(src='/lib/require.js')
    script(src='/lib/jquery-1.9.1.min.js')
    script(src='/lib/underscore.min.js')
    script(src='/lib/backbone.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/moment.min.js')
    script(src='/lib/jquery.editable.min.js')

    !=js('script')
    !=js('views/basic')
    !=js('views/index')
    !=js('views/matching')
    !=js('views/like')
    !=js('views/message')
    !=js('views/talk')
    !=js('views/supporting')
    //- !=js('views/userpage')
    !=js('views/candidatepage')
    !=js('views/supporterpage')
    !=js('views/signup')
    !=js('model')
    !=js('collection')
    !=js('template')
    !=js('template/matching')
    !=js('template/supporting')
    !=js('template/supporter')
    script(src='/lib/connect.facebook.all.js')

  body
    div#wrapper(class="#{id}")
      div#sidebar
      div#main
