div#like_page
  h3 いいねリスト
    small 　"ピピっと来たら『いいね』をプッシュ！メッセージを送信！"
  div.each-like.likebox
    h4.title_box.pink 両想い中
      small 　"どんどんメッセージを送って会う約束をしよう！"
    ul.like-thumbnail
  div.your-like.likebox
    h4.title_box.green お相手が片想い
      small 　"ピピっと来たら、『いいね』をプッシュ！"
    ul.like-thumbnail
  div.my-like.likebox
    h4.title_box.yellow あなたが片想い
      small 　"応援団パワーで乗り切るか…あきらめも肝心…"
    ul.like-thumbnail