!!! 5
html
  head
    title DingDong
    script(src='/lib/connect.facebook.all.js')
    :coffeescript
      window.fbAsyncInit = ->
        FB.init
          appId: 381551511881912
          channelUrl: '//takumibaba.com'
          status: true
          cookie: true
          xfbml: true
          frictionlessRequests : true
        FB.getLoginStatus (response)->
          console.log(response)
          if response.status is "connected"
            console.log("connected")
            form = document.createElement "form"
            form.setAttribute "action", "/"
            form.setAttribute "method", "POST"
            form.setAttribute "name", "form"
            input = document.createElement "input"
            input.setAttribute "name", "signed_request"
            input.setAttribute "value", response.authResponse.signedRequest
            form.appendChild input
            form.submit()
            console.log(form)
          else
            FB.login (res)->
              console.log(res)
  body