div#message_page
  h3 お相手からのメッセージ
    small 　このページは応援団は閲覧できません
  div.user-list-column
    ul.message-user-thumbnail
  div#message-list-view
    div.message-header
      h5
    div.message-body
      ul
    div.message-footer
      img.com_img(src='#{source}')
      input.comment_area(placeholder='コメントする')

