!!! 5
html
  head
    title DingDong
    !=css('style')
    !=css('bootstrap.min')
    script(src='/lib/require.js')
    script(src='/lib/jquery-1.9.1.min.js')
    script(src='/lib/underscore.min.js')
    script(src='/lib/backbone.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/moment.min.js')

    !=js('script')
    !=js('views/basic')
    !=js('views/userpage')
    !=js('views/talk')
    !=js('views/candidatepage')
    !=js('views/supporterpage')
    !=js('views/signup')
    !=js('model')
    !=js('collection')
    !=js('template')
    script(src='/lib/connect.facebook.all.js')
  body
    div#wrapper(class="#{id}")
      div#sidebar.pull-left.span3
      div#main.pull-left.span10