div#matching_page.profile_and_following_view
    ul.nav.nav-tabs.matching-type-list
      li.system.active
        a お相手リスト
      li.supporter
        a 応援団おすすめリスト
    div.system_matching
      div.box
        div.sm_side.matching_side_div
          ul.sm_user_list.matching_side
        div.sm_main.main_box
          div.matchinguser_menubox_menu
            div.thumbnail_box
              img.profile_image.pull-left(src='')
            h4.name.title_box
            h5.message
            div.btns
              a(href="/#/like")
                img.like(src="/image/iine_button.gif")
              a(href="/#/message")
                img.sendMessage(src="/image/m_button.gif")
              a(href="/#/talk")
                img.talk(src="/image/o_button.gif")
          div.supporter-message-list
            h4.green
            ul
          div.detail_profile
            div.profile-column
              div.profile-column-header
                h4.title_box

              div.ideal-profile
              div.profile-column-body
                table.sub
                table.main
                  tbody
            div.follower_column
              div.follower_column_header
                h5.follower-title
              div.follower-column-body
                ul.follower-list
    div.supporter_matching
      div.box
        div.sp_side.matching_side_div
          ul.sp_user_list.matching_side
        div.sp_main.main_box
          div.matchinguser_menu.box_menu
            img.profile_image.pull-left(src='')
            h4.name
            h5.simple_profile
            img.like(src="/image/iine_button.gif")
            img.sendMessage(src="/image/m_button.gif")

          div.detail_profile
            div.profile-column
              div.profile-column-header
                h5 プロフィール詳細
              div.profile-column-body
                table.table
                  <tbody>
            div.follower_column
              div.follower_column_header
                h5.follower-title

              div.follower-column-body
                ul.follower-list
            div.supporter-message-list
              ul