div#matching_page.profile_and_following_view
  ul.nav.nav-tabs.matching-type-list
    li.system.active
      a お相手リスト
    li.supporter
      a 応援団おすすめリスト
  div.system_matching
    div.box
      div.sm_side.matching_side_div
        ul.sm_user_list.matching_side
      div.sm_main.main_box
        div.matchinguser_menu.box_menu
          img.profile_image.pull-left(src='')
          h4.name
          h5.simple_profile
          button.like.pink いいね！
          button.sendMessage.green メッセージを送る
          button.talk.yellow 応援団に相談
        div.detail_profile
          div.profile-column
            div.profile-column-header
              h5 プロフィール
                a.to-detail-profile(href="") 詳細をみる
            div.ideal-profile
            div.profile-column-body
              table.table
                tbody
          div.follower_column
            div.follower_column_header
              h5.follower-title
            div.follower-column-body
              ul.follower-list
          div.supporter-message-list
            ul
  div.supporter_matching
    div.box
      div.sp_side matching_side_div
        ul.sp_user_list matching_side
      div.sp_main main_box
        div.matchinguser_menu box_menu
          img.profile_image.pull-left(src='')
          h4.name
          h5.simple_profile
          button.like pinkいいね！
          button.sendMessage greenメッセージを送る
        div.detail_profile
          div.profile-column
            div.profile-column-header
              h5 プロフィール詳細
            div.profile-column-body
              table.table
                tbody
          div.follower_column
            div.follower_column_header
              h5.follower-title
            div.follower-column-body
              ul.follower-list
          div.supporter-message-list
            ul