// basic要素のためのStylusファイル
//
//
@dingdong-green: #99cccc

body
  margin: 0
  padding: 0
  color: white
  text-decoration: none
  width: 799px

ul
  list-style: none

h4.title_box
  color: black
  background-color: #99cccc
  padding: 3px
  font-size: 14px
  display: block
  margin: 0
h4.pink
  color: white
  background-color: #DC6B82
  small
    color: white
h4.green
  background-color: #99cccc
h4.yellow
  background-color: #ffff99
a
  text-decoration: none
  color: #0088cc
  font-size: 14px
p
  margin: 0

div#wrapper
  width: 799px
  margin: 0 auto

div#sidebar
  height: 100%
  width: 200px
  position: fixed
  z-index: 10
  background-color: white
  border-right: 1px solid #ccc
  padding-right: 10px
  margin-top: 0px
  div.sidebar-inner
    width: 200px
    img.logo
      width: 180px
      padding-right: 10px
    div#welcome_box
      margin-top: 20px
      margin-bottom: 10px
      img.user_profile_image
        width: 40px
        height: 40px
        float: left
        display: block
        padding-left: 5px
      div
        padding-left: 5px
        width: 140px
        float: left
        a
          font-size: 12px
          text-decoration: none
          display: block
          word-wrap: break-word
          &:first-child
            margin-bottom: 8px
            color: #0088cc
            font-weight: bold
          color: #808080
  a.usage
    float: right
    color: #808080
  div.navigation
    margin-top: 20px
    ul.menu
      list-style: none
      li
        a
          padding-top: 10px
          padding-bottom: 10px
          border-top: 0px
          border-bottom: 1px solid #e5e5e5
          &:hover
            background-color: #e5e5e5
      li.first
        border-top: 0px
      li.target
        a
          background-color: #e5e5e5
    h3.dong
      margin-top: 30px
      margin-bottom: 0px
      font-size: 12px
      font-weight: normal
    ul.follower
      padding-left: 15px
      height: 100%
      min-height: 30px
      margin-top: 5px
      li
        float: left
        display: block
        width: 28px
        height: 28px
        margin-right: 2px
        margin-bottom: 5px
        img
          width: 28px
          height: 28px
    button.request
      float: right
    ul.bottom
      float: right
      display: block
      // position: absolute
      bottom: 50px
      li
        &:first-child
          margin-top: 100px
        margin-top: 10px
        a
          color: #a9a9a9


div#main
  padding-left: 211px

div#supporter_list_page
  width: 100%
  margin-left: 10px
  h3
    font-size: 16px
  small
    font-weight: normal
  h4.title_box
    padding: 5px
  div.thumbnail_box
    width: 100%
  ul
    list-style: none
    li
      margin-bottom: 30px
      float: left
      width: 120px
      height: 100%
      a
        display: block
        text-align: center
        img
          width: 70px
          height: 70px


// ul.nav
//   border-bottom: 2px solid #ddd
//   li.active
//     background-color: #ddd
