// basic要素のためのStylusファイル
//
//
@dingdong-green: #99cccc

body
  margin: 0
  padding: 0
  color: white
  text-decoration: none
  width: 800px

ul
  list-style: none

h4.title_box
  color: black
  background-color: #99cccc
  padding: 3px
  font-size: 14px
  display: block
  margin: 0
a
  text-decoration: none
  color: #0088cc
  font-size: 14px
p
  margin: 0

div#wrapper
  margin: 0 auto

div#sidebar
  height: 100%
  width: 200px
  position: fixed
  z-index: 10
  background-color: white
  border-right: 1px solid #ccc
  padding-right: 10px
  padding-top: 10px
  div.sidebar-inner
    width: 200px
    img.logo
      width: 180px
      padding-right: 10px
    div#welcome_box
      margin-top: 20px
      margin-bottom: 20px
      img.user_profile_image
        width: 40px
        height: 40px
        float: left
        display: block
        padding-left: 5px
      div
        padding-left: 5px
        width: 140px
        float: left
        a
          font-size: 12px
          text-decoration: none
          display: block
          word-wrap: break-word
  div.navigation
    ul
      list-style: none
      li
        a
          border-bottom: 0px
    ul.follower
      background-color: #ffff99
      padding-left: 15px
      height: 100%
      min-height: 30px
      li
        float: left
        display: block
        width: 28px
        height: 28px
        margin-right: 2px
        margin-bottom: 5px
        img
          width: 28px
          height: 28px
    button.request
      float: right
    ul.bottom
      float: left
      display: block
      bottom: 50px

div#main
  padding-left: 211px

div#supporter_list_page
  width: 100%
  div.thumbnail_box
    width: 100%
  ul
    list-style: none
    li
      margin-bottom: 5px
      float: left
      width: 120px
      height: 100%
      a
        display: block
        text-align: center
        img
          width: 90px
          height: 70px


// ul.nav
//   border-bottom: 2px solid #ddd
//   li.active
//     background-color: #ddd
