div#profile_page
  div.profile
    width: 550px
    float: left
    div.profile_header
      width: 550px
      div.p_h_left
        float: left
        width: 100px
        img
          margin: 5px
          width: 90px
          height: 90px
      div.p_h_right
        float: left
        width: 450px
        h4.title_box
          float: left
          width: 450px
          height: 25px
        p.message
          float: left
          width: 450px
          min-height: 70px
        div.btns
          float: left
          width: 450px
          img.like
            width: 90px
          img.message
            width: 130px
          img.talk
            width: 130px
    div.supporter-message-list
      width: 550px
      float: left
      ul
        padding-left: 10px
        li
          clear: left
          min-height: 100px
          width: 550px
          div.s-message-left
            height: 100%
            width: 100px
            float: left
            img
              width: 90px
              height: 90px
          div.s-message-right
            height: 100%
            width: 450px
            float: left
            div.s-messge-header
              height: 20%
              width: 450px
              float: left
            div.s-message-body
              height: 79%
              width: 450px
              float: left
    div.profile_body
      float: left
      width: 550px
      table.sub
        width: 550px
        font-size: 11px
        tr
          height: 5px
        td.key
          background-color: #ccffcc
          width: 130px
          font-weight: bold
        td.value
          width: 340px
      table.main
        width: 550px
        font-size: 11px
        tr
          height: 5px
        td.left-key
          background-color: #ccffcc
          width: 100px
          font-weight: bold
        td.left-value
          width: 100px
        td.right-key
          background-color: #ccffcc
          width: 130px
          font-weight: bold
        td.right-value
          width: 140px
    div.profile_supporters
      width: 550px
      float: left
      li
        div.thumbnail
          width: 90px
          a.to-user
            text-align: center
        img
          width: 90px