@ding-pink: #dc6b82
@ding-green: #1f8a76
@ding-yellow: #e8bb58

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF


div#wrapper
  // min-width: 900px
  width: 98%
  padding-left: 1%
  min-height: 500px
  max-height: 2000px
  border-left: 1px solid #ccc

div#sidebar
  background-color: white
  position: fixed
  float: left
  height: 100%
  width: 190px
  padding-top: 10px
  padding-right: 10px
  border-right: 1px solid #ccc
  z-index: 10
  margin-left: 0px
  div.sidebar-inner
    width: 190px
    img.logo
      width: 180px
      padding-right: 10px
    div#welcome_box
      margin-top: 20px
      margin-bottom: 20px
      img.user_profile_image
        width: 40px
        height: 40px
        float: left
        display: block
        padding-left: 5px
      div
        padding-left: 5px
        width: 140px
        float: left
        a
          font-size: 12px
          text-decoration: none
          display: block
          word-wrap: break-word
    div#sidebar-bottom
      a
        text-decoration: none;
        color: gray;

    div#navigation
      ul
        list-style: none
        li
          a
            border-bottom: 0px
          ul.following
            padding-left: 5px
            height: 200px
            overflow: auto
            li
              margin-left: 0px
              height: 50px
              a
                height: 40px
              img
                float: left
                width: 40px
                height: 40px
              div
                float: left
                width: 100px
                height: 50px
                a
                  word-wrap: break-word
      ul.sidebar-follower-list
        li
          float: left
          width: 28px
          height: 28px
          margin-right: 1%
          margin-bottom: 10px
          img
            width: 100%
            height: 100%
      ul.sidebar-bottom
        clear: left
        bottom: 50px

div#main
  position: absolute
  float: left
  left: 200px
  max-width: 700px
  padding-left : 10px
//
//  マッチングページ
//
div#matching_page
  height: 100%
  width: 100%
  ul.matching-type-list
    margin-top: 20px
  h3.title_box
    font-weight: normal
    border-bottom: 1px solid #ddd
    font-size: 16px
    display: block
    clear: left
    small
      padding-left: 1.5em
  h5.title_box
    background-color: #dc6b82
    display: block
  h5.pink
    color: white;
    background-color: #DC6B82
  ul.matching_side
    list-style: none
    height: 100%
    max-height: 700px
    overflow: auto
    display: block
    margin-left: 5px
    margin-right: 10px
    li
      margin-right: 15px
      margin-bottom: 5px
      img
        border: 4px solid white
        width: 50px
        height: 50px
    li.active
      img
        border: 4px solid #ed4b7c
  div.box
    // height: 500px
    height: 100%
    width: 100%
    margin-bottom: 20px
    div.matching_side_div
      height: inherit
      max-height: 700px
      width: 10%
      min-width: 100px
      float: left
    div.main_box
      float: left
      width: 85%
      div.box_menu
        float: left
        img.profile_image
          max-width: 90px
          max-height: 90px
          margin-right: 20px
      div.detail_profile
        float: left
        width: 100%
        height: 100%
        margin-top: 20px
        ul.supporter-menu
          margin: 0px
          overflow: inherit
          display: block
          li
            margin: 0px 0px -1px 0px
        div.follower_column
          width: 20%
          height: 100%
          float: left
          ul.follower-list
            height: 400px
            width: 100%
            overflow: auto
            display: block
            li
              width: 100%
          div.follower-column-body
            width: 100%
        div.profile-column
          float: left
          height: 100%
          position: relative
          width: 70%
          margin-bottom: 10px
          table
            width: 100%
            display: block
            overflow: auto
            margin-bottom: 10px
            td.key
              // word-wrap: break-word
              background-color: #ccffcc

div#like_page
  div.likebox
    margin-bottom: 30px
    h4
      font-size: 14px
      padding: 3px 0px 3px 10px
      color: black
      small
        color: black
    h4.pink
      color: white
      background-color: #DC6B82
      small
        color: white
    h4.green
      background-color: #99cccc
    h4.yellow
      background-color: #ffff99
  ul
    list-style: none
    li
      width: 150px
      height: 200px
      float: left
      margin-top: 20px
      div.thumbnail
        margin-right: 10px
        a.to-user
          display: block
          text-align: center
          img
            margin: 0 auto
            width: 110px
            height: 110px
        a.action_button
          img.action_button
            width: 150px

div#talk_page
  ul.talk_list
    margin-left: 10px
    list-style: none
    li.talk
      border: 1px solid #ccc
      width: 80%
      margin-bottom: 15px
      -webkit-border-radius: 5px/* Safari,Google Chrome用 */
      -moz-border-radius: 5px /* Firefox用 */

div.com_box
  float: left
  width: 100%
  padding: 10px
  display: block
  div.com_line
    float: left
    width: 80%
    margin-left: 8px
    display: inline
    font-size: 13px
    color: #666
    line-height: 120%
  img.com_img
    float: left
    width: 32px
    height: 32px
    display: inline
  div.reply_box
    width: 70%
    float: left
    margin-left: 10px
    textarea.comment_area
      display: block
      width: 100%
    button.send_comment
      float: right
    input.comment_area
      width: 100%
  textarea.comment_area
    float: left
    margin-left: 10px
    width: 70%
  button.send_comment
    display: block
    clear: left

div.part_box
  float: left
  width: 90%
  border: 1px solid #ccc
  margin-left: 20px
  margin-bottom: 10px
  padding: 10px
  display: block
  img.part_img
    float: left
    width: 80px
    display: inline
  div.part_line
    float: left
    width: 80%
    margin-left: 8px
    display: inline
    font-size: 13px
    color: #333

div.like_box
  float:left
  width: 100%
  padding-right: 10px
  padding-left: 10px
  display:block
div.comments_box
  float: left
  height: 200px
  width: 100%
  overflow: auto
  ul.comments
    float: left
    width: 90%
    list-style: none
    li
      width: 100%


div#message_page
  div.user-list-column
    float: left
    width: 100px
    height: 500px
    min-height: 400px
    ul.message-user-thumbnail
      height: 100%
      overflow: auto
      list-style: none
      li
        height: 50px
        width: 50px
        margin-right: 15px
        margin-bottom: 10px
        img
          border: 3px solid white
      li.active
        img
          border: 3px solid #ed4b7c

  div#message-list-view
    float: left
    height: 500px
    width: 500px
    div.message-body
      float: left
      min-width: 100%
      height: 100%
      border: 1px solid #ccc
      margin-bottom: 10px
      overflow: auto
      ul
        list-style: none
        li
          padding-top: 15px
          margin-bottom: 15px
          div.message_clm
            clear: left
            max-width: 400px
            padding: 0px 10px 10px 10px
            div.message_left
              float: left
              min-height: 100px
              height: 100%
              width: 32px
              img.message_img
                float: left
                width: 32px
                height: 32px
                display: block
            div.message_line
              float: left
              height: 100%
              max-width: 300px
              margin-left: 8px
              font-size: 13px
              color: #666
              line-height: 120%
    div.message-footer
      clear: left
      width: 100%
      // position: fixed
      // bottom: 10px
      img
        float: left
        width: 32px
        height: 32px
        display: block
        margin-right: 10px
      input.comment_area
        width: 80%
      div.reply_box
        float: left
        width: 100%
        input
          width: 100%
        textarea
          width: 100%
        button
          float: right


div.profile_and_following_view
  h3.title_box
    font-weight: normal
    border-bottom: 1px solid #ddd
    display: block
    clear: left
    width: 100%
  // ul
  //   list-style: none
  //   height: 100%
  //   overflow: auto
  //   display: block
  //   margin-left: 5px
  //   li
  //     margin-right: 15px
  //     margin-bottom: 5px
  //     img
  //       border: 4px solid white
  //       width: 65px
  //       height: 65px
  //     &:last-child
  //       img

  //   li.active
  //     img
  //       border: 4px solid #ed4b7c
  div.box
    height: 100%
    width: 100%
    div.sm_side
      height: 100%
      width: 10%
      min-width: 100px
      float: left
    div.main_box
      float: left
      height: 100%
      width: 100%
      div.box_menu
        float: left
        width: 100%
        img.profile_image
          max-width: 100px
          max-height: 100px
          margin-right: 20px
      div.detail_profile
        float: left
        width: 100%
        height: 100%
        margin-top: 20px
        ul.supporter-menu
          margin: 0px
          overflow: inherit
          display: block
          li
            margin: 0px 0px -1px 0px
        div#detailprofile
          float: left
          div.follower_column
            width: 20%
            height: 100%
            float: left
            ul.follower-list
              height: 400px
              width: 100%
              overflow: auto
              display: block
              li
                width: 100%
                margin-right: 15px
                margin-bottom: 5px
                img
                  border: 4px solid white
                  width: 65px
                  height: 65px
            div.follower-column-body
              width: 100%
          div.profile-column
            float: left
            // height: 400px
            height: 100%
            position: relative
            // height: 100%
            width: 70%
            margin-bottom: 10px
            // プロフィール全体をスクロールできるようにする
            table
              width: 90%
              display: block
              margin-bottom: 10px
              td.key
                background-color: #ccffcc
        div#matchinglist
          div.likebox
            width: 100%
            margin-bottom: 30px
            ul
              list-style: none
              li
                width: 150px
                height: 220px
                float: left
                margin-top: 20px
                div.thumbnail
                  margin-right: 10px
                  a
                    display: block
                    text-align: center
                    img
                      margin: 0 auto
                      width: 110px
                      height: 110px
        div#likelist
          div.likebox
            width: 100%
            margin-bottom: 30px
            height: 200px
            ul
              list-style: none
              li
                width: 150px
                height: 200px
                float: left
                margin-top: 20px
                div.thumbnail
                  margin-right: 10px
                  a
                    display: block
                    text-align: center
                    img
                      margin: 0 auto
                      width: 110px
                      height: 110px

  div.supporter_matching
    height: 400px
    float: left
    div.sp_side
      height: 100%
      width: 100px
      float: left
      ul

div#supporter_list_page
  width: 100%
  div.thumbnail_box
    width: 100%
  ul
    list-style: none
    li
      float: left
      width: 120px
      height: 100%
      a
        display: block
        text-align: center
        img
          width: 90px
          height: 70px

div.recommend
  li
    margin-left: 0px
    height: 50px
    a
      height: 40px
    img
      float: left
      width: 40px
      height: 40px
    div
      float: left
      width: 100px
      height: 50px
      a
        word-wrap: break-word

ul
  list-style: none

a.to-detail-profile
  padding-left: 1em

button.pink
  background-color: #dc6b82
  color: white
button.green
  background-color: #1f8a76
  color: white
button.yellow
  background-color: #e8bb58

div.ideal-profile
  height: auto
div.likelist
  width: 250px
  span
    margin-right: 10px

div.supporter-message-list
  float: left
  border-top: 1px solid #ccc
  width: 100%
  margin-bottom: 30px
  ul
    margin-top: 10px
    li
      clear: left
      height: 100%
      margin-bottom: 20px
      div.s-message-left
        height: 100%
        width: 100px
        margin-bottom: 30px
        float: left
        img
          margin-left: 15px
          width: 70px
          height: 70px
      div.s-message-right
        height: 100%
        width: 500px
        float: left
        div.s-message-header
          height: 20%
          width: 100%
          float: left
        div.s-message-header
          height: 80%
          width: 100%
          float: left

div.supporter-message-post-view
  width: 100%
  float: left
  height: 200px
  textarea

img.signup-logo
  width: 500px
  margin-bottom: 50px