div#user_page
  div.profile_header
    width: 559px
    div.p_h_left
      float: left
      width: 100px
      img
        margin: 5px
        width: 90px
        height: 90px
    div.p_h_right
      float: left
      width: 450px
      h4.title_box
        float: left
        width: 450px
        height: 25px
      p.message
        float: left
        width: 450px
        min-height: 70px
  div.detail_profile
    div.profile_column
      width: 559px
    div.profile_column_body
      h4.title_box
        width: 559px
      float: left
      width: 559px
      table.sub
        width: 559px
        font-size: 11px
        tbody
          tr
            height: 5px
            td.key
              background-color: #ccffcc
              width: 130px
              font-weight: bold
            td.value
              width: 340px
      table.main
        width: 559px
        font-size: 11px
        tr
          height: 5px
        td.left-key
          background-color: #ccffcc
          width: 100px
          font-weight: bold
        td.left-value
          width: 100px
        td.right-key
          background-color: #ccffcc
          width: 130px
          font-weight: bold
        td.right-value
          width: 140px
    div.supporter-message-list
      width: 559px
      li
        padding-top: 15px
        margin-bottom: 15px
        div.message_clm
          clear: left
          width: 559px
          padding: 0px 10px 10px 10px
          div.message_left
            float: left
            min-height: 100px
            height: 100%
            width: 50px
            img.message_img
              float: left
              width: 32px
              height: 32px
              display: block
          div.message_line
            float: left
            height: 100%
            width: 400px
            margin-left: 8px
            font-size: 12px
            color: #666
  div#matchinglist
    height: 100%
    width: 559px
    h4
      float: left
      width: 550px
    div.likebox
      float: left
      ul
        display: block
        float: left
        width: 550px
        height: 100%
        padding-left 5px
        li
          margin-right: 10px
          float: left
          width: 100px
          height: 200px
          div.thumbnail
            a.to-user
              display: block
              width: 100px
              text-align: center
              img
                height: 100px
                width: 100px
            a.to-talk
              font-size: 11px

  div#supportertalk
    width: 549px
    ul.talk_list
      padding-left: 10px
      width: 549px
      li
        width: 500px
        div.like_box
          padding-right: 0px
        div.com_box
          width: 400px
          padding-right: 0px
        div.s-message-left
          width: 100px
