div#talk_page
  ul.talk_list
    list-style: none
    margin-left: 0px
    padding-left: 10px
    li.talk
      border: 1px solid #ccc
      width: 80%
      margin-bottom: 15px
      -webkit-border-radius: 5px/* Safari,Google Chrome用 */
      -moz-border-radius: 5px /* Firefox用 */

div.com_box
  float: left
  width: 100%
  padding: 10px
  display: block
  div.com_line
    float: left
    width: 80%
    margin-left: 8px
    display: inline
    font-size: 13px
    color: #666
    line-height: 120%
  img.com_img
    float: left
    width: 32px
    height: 32px
    display: inline
  div.reply_box
    width: 70%
    float: left
    margin-left: 10px
    textarea.comment_area
      display: block
      width: 100%
    button.send_comment
      float: right
    input.comment_area
      width: 100%
  textarea.comment_area
    float: left
    margin-left: 10px
    width: 70%
  button.send_comment
    display: block
    clear: left

div.part_box
  float: left
  width: 90%
  border: 1px solid #ccc
  margin-left: 20px
  margin-bottom: 10px
  padding: 10px
  display: block
  img.part_img
    float: left
    width: 40px
    height: 40px
    display: inline
  div.part_line
    float: left
    width: 80%
    margin-left: 8px
    display: inline
    font-size: 13px
    color: #333

div.like_box
  float:left
  width: 100%
  padding-right: 10px
  padding-left: 10px
  display:block
div.comments_box
  float: left
  height: 200px
  width: 100%
  overflow: auto
  ul.comments
    float: left
    width: 90%
    list-style: none
    li
      width: 100%