div.sidebar-inner
  a(href='/#/')
    img.logo(src='/image/logo.png')
  div#welcome_box.clearfix
    a.pull-left
      img.user_profile_image(src='#{source}')
    div
      a.user_name(href='/#/me') #{name}さん
      a(href='/#/profile') プロフィールを編集する
  a.usage(href="/#/usage"): small 使い方
  div.navigation.clearfix
    ul.nav.nav-list.menu
      li.first.like: a(href='/#/like') いいねリスト
      li.message: a.message-badge(href='/#/message') メッセージ
        span.badge.badge-important.message-badge
      li.talk: a.talk-badge(href='/#/talk') 応援トーク
        span.badge.badge-important.talk-badge
      li.supporter: a(href="/#/supporter") 婚活仲間リスト
      //- li.divider
      //- li.test: a(href='/#/invite') 応援団を増やす
    h3.dong あなたの婚活応援団
    ul.follower
      - each follower in followers
        li: img(src="#{follower.from.profile.image_url}")
    button.request.btn 応援団を増やす
    ul.bottom
      li.use-policy: a(data-toggle="modal", data-target="#usepolicy"): small 利用規約
      li: a(href="https://www.facebook.com/about/privacy/", target="_blank"): small プライバシーポリシー