div.sidebar-inner
  a(href='/#/')
    img.logo(src='/image/logo.png')
  div#welcome_box.clearfix
    a.pull-left
      img.user_profile_image(src='#{source}')
    div
      a.user_name #{name}さん
  a.pull-right.usage(data-toggle="modal", data-target="#usage")
    small 使い方
  div#navigation.clearfix
    ul.nav.nav-list
      li.nav-header メニュー
      li.supporter: a(href='/#/supporter') あなたの婚活仲間
    ul.nav.nav-list.sidebar-bottom
      li.use-policy: a(data-toggle="modal", data-target="#usepolicy") 利用規約
      li: a(href="https://www.facebook.com/about/privacy/", target="_blank") プライバシーポリシー
      li: a(href="/#/team") 運営チーム